<a class="btn btn-link pull-left" ui-sref="app.me.routers">Back</a>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading overflow-hidden">
                    <h4 class="panel-title clearfix">
                        <span class="glyphicon glyphicon-pencil pull-right pointer"
                           ui-sref="app.me.routers.setup({routerId: router._id})"></span>
                    </h4>
                </div>

                <div class="panel-body">
                    <p>Name: {{router.name}}</p>
                    <p>IP: {{router.ip}}</p>
                    <p>Access Point: {{router.settings.accessPoint}}</p>
                    <p>Password: {{router.settings.password}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">

        </div>
    </div>