<a class="btn btn-link pull-left" ui-sref="app.me.routers">Back</a>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="access-point">Access Point</label>

                    <div class="col-sm-4">
                        <input ng-model="router.settings.accessPoint" class="form-control" type="text" id="access-point" placeholder="Access Point" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password">Password</label>

                    <div class="col-sm-4">
                        <input ng-model="router.settings.password" class="form-control" type="password" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary pull-right btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>