<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <form ng-submit="login()">
            <div class="clearfix">
                <h1 class="pull-left">Login</h1>
            </div>

            <div class="form-group">
                <input ng-model="loginName" type="text" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input ng-model="userPassword" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary pull-left btn-sm">Login</button>
        </form>

    </div>
</div>
