<div>
    <nav class="navbar navbar-default">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" id="navBar">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-if="user" ng-href="#/app/routers">WiFi</a>
                <a class="navbar-brand" ng-if="!user">WiFi</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-if="user">
                    <li><a ui-sref="app.routers">Routers</a></li>
                    <li><a ui-sref="app.servers">Servers</a></li>
                    <li><a ui-sref="app.me.routers">My Routers</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="app.login" ng-if="!user">Login</a></li>
                    <li><a ui-sref="app.logout" ng-if="user">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>

    <div class="container">
        <div ui-view></div>
    </div>
</div>



