<div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="clearfix">
                    <a class="btn btn-primary pull-right" style="margin-bottom: 10px" ui-sref="app.routers.new">Add Router</a>
                </div>
                <div ng-repeat="router in routers">
                    <div class="panel panel-default">

                        <div class="panel-heading overflow-hidden">
                            <h4 class="panel-title">
                                <a ui-sref="app.routers.show({routerId: router._id})">{{router.name}}</a>
                                <a class="glyphicon glyphicon-pencil pull-right pointer"
                                   ui-sref="app.routers.edit({routerId: router._id})"></a>
                            </h4>
                        </div>

                        <div class="panel-body">
                            <p>Name: {{router.name}}</p>
                            <p>IP: {{router.ip}}</p>
                            <p>Login: {{router.login}}</p>
                            <p>Password: {{router.password}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>