<a class="btn btn-link pull-left" ui-sref="app.routers">Back</a>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Name</label>

                    <div class="col-sm-4">
                        <input ng-model="router.name" class="form-control" type="text" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="ip">IP Address</label>

                    <div class="col-sm-4">
                        <input ng-model="router.ip" class="form-control" type="text" id="ip" placeholder="IP address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="login">Login</label>

                    <div class="col-sm-4">
                        <input ng-model="router.login" class="form-control" type="text" id="login" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password">Password</label>

                    <div class="col-sm-4">
                        <input ng-model="router.password" class="form-control" type="password" id="password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="port">Port</label>

                    <div class="col-sm-4">
                        <input ng-model="router.port" class="form-control" type="number" id="port" placeholder="Port">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="users">Users</label>

                    <div class="col-sm-4">
                        <ui-select multiple ng-model="router.users" id="users" class="input-sm field-full">
                            <ui-select-match placeholder="Users...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="user._id as user in users | filter:$select.search">
                                {{user.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="servers">Servers</label>

                    <div class="col-sm-4">
                        <ui-select multiple ng-model="router.servers" id="servers" class="input-sm field-full">
                            <ui-select-match placeholder="Servers...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="server._id as server in servers | filter:$select.search">
                                {{server.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary pull-right btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>