<a class="btn btn-link pull-left" ui-sref="app.routers">Back</a>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading overflow-hidden">
                    <h4 class="panel-title clearfix">
                        <span class="text-danger glyphicon glyphicon-remove pointer pull-right" style="margin-left: 5px" ng-click="delete(router)"></span>

                        <span class="glyphicon glyphicon-pencil pull-right pointer"
                           ui-sref="app.routers.edit({routerId: router._id})"></span>
                    </h4>
                </div>

                <div class="panel-body">
                    <p>Name: {{router.name}}</p>

                    <p>IP: {{router.ip}}</p>

                    <p>Login: {{router.login}}</p>

                    <p>Password: {{router.password}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">

        </div>
    </div>