<a class="btn btn-link pull-left" ui-sref="app.servers">Back</a>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading overflow-hidden">
                    <h4 class="panel-title clearfix">
                        <span class="text-danger glyphicon glyphicon-remove pointer pull-right"
                              style="margin-left: 5px"
                              ng-click="delete()"></span>

                        <span class="glyphicon glyphicon-pencil pull-right pointer"
                           ui-sref="app.servers.edit({serverId: server._id})"></span>
                    </h4>
                </div>

                <div class="panel-body">
                    <p>Name: {{server.name}}</p>

                    <p>IP: {{server.ip}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">

        </div>
    </div>