<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="clearfix">
                    <a class="btn btn-primary pull-right" style="margin-bottom: 10px" ui-sref="app.servers.new">Add Server</a>
                </div>
                <div ng-repeat="server in servers">
                    <div class="panel panel-default">

                        <div class="panel-heading overflow-hidden">
                            <h4 class="panel-title">
                                <a ui-sref="app.servers.show({serverId: server._id})">{{server.name}}</a>
                                <a class="glyphicon glyphicon-pencil pull-right pointer"
                                   ui-sref="app.servers.edit({serverId: server._id})"></a>
                            </h4>
                        </div>

                        <div class="panel-body">
                            <p>Name: {{server.name}}</p>
                            <p>IP: {{server.ip}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>