<a class="btn btn-link pull-left" ui-sref="app.servers">Back</a>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Name</label>

                    <div class="col-sm-4">
                        <input ng-model="server.name" class="form-control" type="text" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="ip">IP Address</label>

                    <div class="col-sm-4">
                        <input ng-model="server.ip" class="form-control" type="text" id="ip" placeholder="IP address">
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary pull-right btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>